﻿@page
@model Todo_3.Pages.CreateModel
@{
}

<br />
<h2>New ToDo item</h2>
<br />

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">List name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="listname" value="@Model.item.ListName" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.item.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.item.Description" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date of start</label>
        <div class="col-sm-6">
            <input type="datetime-local" class="form-control" name="datestart" value="@Model.item.DateStart" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date to finish</label>
        <div class="col-sm-6">
            <input type="datetime-local" class="form-control" name="datefinished" value="@Model.item.DateFinished" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">IsStarted</label>
        <div class="col-sm-6">
            <input type="checkbox" id="startbutton" name="isstarted" value="1">
            <label for="startbutton">Has been started</label>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">IsFinished</label>
        <div class="col-sm-6">
            <input type="checkbox" id="finishbutton" name="isfinished" value="1">
            <label for="finishbutton">Has been done</label>
        </div>
    </div>

@if (Model.successMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col sm-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>      
}
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Confirm</button>"
        </div>
        <div class="col-sm-3 d-grid">
            <button type="button" class="btn btn-danger" onclick="history.back()">Cancel</button>"
        </div>
    </div>
</form>