﻿@page
@model Todo_3.Pages.EditModel
@{
}

<br />
<h2>Edit ToDo item no <font color="#00FF00">@Model.item.Id</font></h2>
<br />

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="POST">
    <input type="hidden" name="id" value="@Model.item.Id" />  
    <input type="hidden" name="userid" value="@Model.item.UserId" />
    @if (!String.IsNullOrEmpty(@Model.selectedList))
    {
        <input type="hidden" name="listname" value="@Model.item.ListName" /> 
    }
    else 
    {
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">List Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="listname" value="@Model.item.ListName" />
            </div>
        </div>
    }
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.item.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.item.Description" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date of start</label>
        <div class="col-sm-6">
            <input type="datetime-local" class="form-control" name="datestart" value="@Model.item.DateStart" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date to finish</label>
        <div class="col-sm-6">
            <input type="datetime-local" class="form-control" name="datefinished" value="@Model.item.DateFinished" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">IsStarted</label>
        <div class="col-sm-6">
            @if (@Model.item.IsStarted)
            {
                <input type="checkbox" id="startbutton" name="isstarted" value="1" checked>
            }
            else
            {
                <input type="checkbox" id="startbutton" name="isstarted" value="1">
            }
            <label for="startbutton">Yes, it has been started.</label>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">IsFinished</label>
        <div class="col-sm-6">
            @if (@Model.item.IsFinished)
            {
                <input type="checkbox" id="finishbutton" name="isfinished" value="1" checked>
            }
            else
            {
                <input type="checkbox" id="finishbutton" name="isfinished" value="1">
            }
            <label for="finishbutton">Yes, it is finished.</label>
        </div>
    </div>

@if (Model.successMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col sm-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>      
}
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
        <div class="col-sm-3 d-grid">
            <button type="button" class="btn btn-danger" onclick="history.back()">Cancel</button>
        </div>
    </div>
</form>
