﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName</h1>
    <br />
    @if (!String.IsNullOrEmpty(@Model.UserName))
    {
        <p>See what do you have to do : <a href="Lists?User_Id=@Model.UserId">Your ToDo lists</a>.</p>
        <br />
        <br />
        <h2>Today you should take care about:</h2>
        <table class="table table-striped" style="width:60%" align="center">
            <thead>
                <tr>
                    <th>List name</th>
                    <th>Item name</th>
                    <th>Description</th>
                    <th>Date When Started</th>
                    <th>Date To Finish</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.reminder)
        {
            <tr>
               <td>@item.ListName</td>
               <td>@item.Name</td>
               <td>@item.Description</td>
               <td>@item.DateStart </td>
               <td>@item.DateFinished</td>
            </tr>
        }
            </tbody>
        </table>
    
        <br />
        <br />
        <h2>Your statistics:</h2>
        <table class="table table-striped" style="width:60%" align="center">
            <tr class="table-secondary">
                <td style="width:65%" align="right">total count of ToDo items : </td>
                <td align="left">@Model.statistics.TotalCountOfTodos </td>
            </tr>
            <tr>
                <td style="width:65%" align="right">total count of started ToDos : </td>
                <td align="left">@Model.statistics.TotalCountOfStartedTodos</td>
            </tr>
            <tr class="table-warning">
                <td style="width:65%" align="right">total count of expired start date ToDos : </td>
                <td align="left">@Model.statistics.TotalCountOfExpireStartedTodos</td>
            </tr>
            <tr class="table-warning">
                <td style="width:65%" align="right">total count of expired finish date ToDos : </td>
                <td align="left">@Model.statistics.TotalCountOfExpireFinishedTodos</td>
            </tr>
             <tr class="table-success">
                <td style="width:65%" align="right"><b>total count of completely done ToDos : </b></td>
                <td align="left"><b>@Model.statistics.TotalCountOfDoneTodos</b></td>
            </tr>
        </table>

    }
    else
    {
        <p>There is no logged user - please go to USERS section to create and select one</p>
    }
</div>
