﻿@page
@model Todo_3.Pages.ListselectedModel
@{
}

<br />
<h2>Your List <font color="#00FF00">@Model.listSelected</font></h2>
<br />
<a class = "btn btn-primary btn-lg" href = "Create?User_Id=@Model.User_Id&selectedlist=@Model.listSelected">Add New Item to list</a>
<br /><br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item name</th>
            <th>Description</th>
            <th>Date When Started</th>
            <th>Date To Finish</th>
            <th>Started?</th>
            <th>Finished?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.todos)
        {
            <tr>
               <td>@item.Id</td>
               <td>@item.Name</td>
               <td>@item.Description</td>
                @if (@item.DateStart < DateTime.Now && !@item.IsStarted) 
                { 
                    <td><b><font color="#FF0000">@item.DateStart</font></b></td>
                }
                else
                {
                    <td>@item.DateStart</td>
                }
                
                @if (@item.DateFinished < DateTime.Now && !@item.IsFinished) 
                { 
                    <td><b><font color="#FF0000">@item.DateFinished</font></b></td>
                }
                else
                {
                    <td>@item.DateFinished</td>
                }

                @if (@item.IsStarted)
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }

                @if (@item.IsFinished)
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }
                <td>
                    <a class="btn btn-primary btn-sm" href="/Edit?id=@item.Id&selectedlist=@Model.listSelected">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Delete?id=@item.Id&User_Id=@Model.User_Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Listselected?selectedlist=@Model.listSelected&User_Id=@Model.User_Id&filtering=">Sort by ID</a>
            </td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Listselected?selectedlist=@Model.listSelected&User_Id=@Model.User_Id&filtering=itemname">Sort by Item Name</a>
            </td>
            <td></td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Listselected?selectedlist=@Model.listSelected&User_Id=@Model.User_Id&filtering=timestart">Sort by Date Start</a>
            </td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Listselected?selectedlist=@Model.listSelected&User_Id=@Model.User_Id&filtering=timefinish">Sort by Date Finish</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<br />
<table class="table table-borderless" style="table-layout: fixed; width: 90%; text-align: center;">
<tr>
  <td style="width:30%;">
      <a class = "btn btn-primary btn-lg" href = "Lists?User_Id=@Model.User_Id&filtering=">Return to all lists</a>
  </td>
  <td style="width:30%;">
      <a class = "btn btn-primary btn-lg" href = "Listcopy?User_Id=@Model.User_Id&selectedlist=@Model.listSelected">Copy list</a>
  </td>
  <td style="width:30%;">
      <a class = "btn btn-danger btn-lg" data-toggle="Are you sure?" href="Listdelete?User_Id=@Model.User_Id&selectedlist=@Model.listSelected" >Delete whole list</a>
  </td>
</tr>
</table>

