﻿@page
@model Todo_3.Pages.ListsModel
@{
}
<br />
<h2>Your ToDo Lists</h2>
<br />
<a class = "btn btn-primary btn-lg" href = "Create?User_Id=@Model.User_Id">Add New Item</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>List name</th>
            <th>Item name</th>
            <th>Description</th>
            <th>Date When Started</th>
            <th>Date To Finish</th>
            <th>Started?</th>
            <th>Finished?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.todos)
        {
            <tr>
               <td>@item.Id</td>
               <td>@item.ListName</td>
               <td>@item.Name</td>
               <td>@item.Description</td>
                @if (@item.DateStart < DateTime.Now && !@item.IsStarted) 
                { 
                    <td><b><font color="#FF0000">@item.DateStart</font></b></td>
                }
                else
                {
                    <td>@item.DateStart</td>
                }
                
                @if (@item.DateFinished < DateTime.Now && !@item.IsFinished) 
                { 
                    <td><b><font color="#FF0000">@item.DateFinished</font></b></td>
                }
                else
                {
                    <td>@item.DateFinished</td>
                }

                @if (@item.IsStarted)
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }

                @if (@item.IsFinished)
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }
                <td>
                    <a class="btn btn-primary btn-sm" href="/Listselected?User_Id=@Model.User_Id&selectedlist=@item.ListName">Select list</a>
                    <a class="btn btn-primary btn-sm" href="/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Delete?id=@item.Id&User_Id=@Model.User_Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=">Sort by ID</a>
            </td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=listname">Sort by List Name</a>
            </td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=itemname">Sort by Item Name</a>
            </td>
            <td></td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=timestart">Sort by Date Start</a>
            </td>
            <td>
                 <a class = "btn btn-secondary btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=timefinish">Sort by Date Finish</a>
            </td>
            <td></td>
            <td></td>
            <td>
                @if (@Model.hidden != "true")
                {
                    <a class = "btn btn-warning btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=@Model.filtering&hidden=true">&nbsp&nbsp&nbspHide completed ToDos&nbsp&nbsp&nbsp</a>
                }
                else
                {
                    <a class = "btn btn-warning btn-sm" href = "Lists?User_Id=@Model.User_Id&filtering=@Model.filtering">&nbsp&nbspShow completed ToDos&nbsp&nbsp&nbsp</a>
                }
            </td>
              </tr>
    </tbody>
</table>


