﻿@page
@model Todo_3.Pages.ReportsModel
@{
}

<h2>Activity report of all users ToDo lists</h2>
<br />
<br />
<table class="table table-striped" style="width:60%" align="center">
    <tbody>
        <tr>
            <td><b>Users with highest count of entered ToDos:</b></td>
            <td align="center"><b>Count</b></td>
        </tr>
        @foreach (var item in @Model.user_alltodos)
        {
            <tr>
                <td>@item.Name</td>
                <td align="center">@item.Count</td>
            </tr>
        }
        <tr>
            <td><b>Users with highest count of completed ToDos:</b></td>
            <td></td>
        </tr>
        @foreach (var item in @Model.user_finishedtodos)
        {
            <tr>
                <td>@item.Name</td>
                <td align="center">@item.Count</td>
            </tr>
        }
</table>
