﻿@page
@model Todo_3.Pages.UsereditModel
@{
}

<br />
<h2>Edit user</h2>
<br />

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="POST">
    <input type="hidden" name="id" value="@Model.item.Id" /> 

    @if (@Model.item.Logged)
    {
         <input type="hidden" class="form-control" name="logged" value="1" /> 
    }
    else
    { 
         <input type="hidden" class="form-control" name="logged" value="0" /> 
    }
  
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.item.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="password" value="@Model.item.Password" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.item.Email" />
        </div>
    </div>
   
@if (Model.successMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col sm-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>      
}
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
        <div class="col-sm-3 d-grid">
            <button type="button" class="btn btn-danger" onclick="history.back()">Cancel</button>
        </div>
    </div>
</form>
