﻿@page
@model Todo_3.Pages.UsersModel
@{
}

<br />
<h2>Choose user</h2>
<br />

<a class = "btn btn-primary btn-sm" href = "Usercreate">Add new User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Logged</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.users)
        {
            <tr>
               <td>@item.Id</td>
               <td>@item.Name</td>
               <td>@item.Email</td>
               
               @if (@item.Logged)
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }

                <td>
                    <a class="btn btn-primary btn-sm" href="/Userselect?id=@item.Id">Select</a>
                    <a class="btn btn-primary btn-sm" href="/Useredit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Userdelete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>



